.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background:    
    linear-gradient(
      to bottom,
      hsl(0, 0%, 93%) 0%,
      hsl(210.45, 10.02%, 92.03%) 13.2%,
      hsl(210.45, 16.41%, 91.26%) 24.8%,
      hsl(210.45, 20.79%, 90.64%) 35%,
      hsl(210.45, 24.04%, 90.12%) 43.9%,
      hsl(210.45, 26.69%, 89.65%) 51.7%,
      hsl(210.45, 29.1%, 89.18%) 58.5%,
      hsl(210.45, 31.51%, 88.67%) 64.5%,
      hsl(210.45, 34.1%, 88.06%) 69.8%,
      hsl(210.45, 36.96%, 87.31%) 74.6%,
      hsl(210.45, 40.11%, 86.36%) 79%,
      hsl(210.45, 43.49%, 85.18%) 83.1%,
      hsl(210.45, 47.01%, 83.71%) 87.1%,
      hsl(210.45, 50.55%, 81.89%) 91.2%,
      hsl(210.45, 54%, 79.69%) 95.4%,
      hsl(210.45, 57.26%, 77.06%) 100%
    );

}


.h1{
  font-family: 'Kanit', sans-serif;
  font-size: 34px;
  
}

